{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    
    

    {% endblock  %}
</body>
<script>
const WEATHER_URL = "{% url 'weather' %}";
function getCsrfToken(){
    return document.querySelector('[name=csrfmiddlewaretoken]').value
}
</script>

<script src="{% static 'js/index.js' %}"></script>
</html>